# Dependencies
node_modules/
node_modules/.vite/

# Vite cache (extra safe)
.vite/

# Vite build outputs and cache
dist/
dist-ssr/
.vite/

# Env
.env
.env.local

# System
.DS_Store

# Editor
.vscode/
.idea/
