@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-gradient-to-br from-kidpurple via-kidpink to-peach min-h-screen;
}
